header {
    background-image: url("https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/sliderimage1/1676134779/banner-ok-argentina-programa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 15px;
  }
  