<app-encabezado>  </app-encabezado>  
<app-acerca-de>  </app-acerca-de>
<app-experiencia-educacion>  </app-experiencia-educacion>

<!--
<div class="container">
  <div class="row">
    <div class="col-4">
      Primera de tres columnas
    </div>
    <div class="col-4">
      Segunda de tres columnas
    </div>
    <div class="col-4">
      Tercera de tres columnas
    </div>
  </div>
</div>
-->

<!--
<footer class="container-fluid text-center">
  <p>Portfolio diseñado para Argentina Programa</p>
</footer>
-->
